@model List<SkillDetailViewModel>

<dialog id="load-skills-modal" class="modal">
    <div class="modal-box max-w-120">
        <form method="dialog">
            <div class="flex items-center justify-center">
                <h3 class="font-medium text-3xl ml-2 mb-4">Select skills</h3>
            </div>

            <div id="load-skills-list" class="space-y-1 text-center max-h-72 overflow-auto">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="flex flex-col items-center text-center load-skill-item rounded hover:bg-primary hover:text-primary-content cursor-pointer p-2"
                        data-id="@Model[i].Id" data-title="@Model[i].Name">

                        <div>
                            <div class="font-semibold text-lg">@Html.DisplayFor(c => c[i].Name)</div>
                            <div class="text-sm">@Html.DisplayNameFor(c => c[i].AcquiredCount):
                                @Model[i].AcquiredCount, @Html.DisplayNameFor(c => c[i].AcquiredMaxLevel):
                                @Model[i].AcquiredMaxLevel</div>
                        </div>
                    </div>
                }
            </div>
        </form>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>
