@model UserProfileViewModel

<div>
    <div class="flex items-center justify-center">
        <div class="text-3xl ml-2 mb-4 font-medium">@Html.Translate("Materials")</div>
    </div>
    @if (@Model.Videos.Count == 0 && @Model.Publications.Count == 0 && @Model.Articles.Count == 0)
    {
        <div class="text-center text-sm">@Html.Translate("NoMaterialsAcquired")</div>
    }
    else
    {
        @if (@Model.Videos.Count > 0)
        {
            <div class="collapse collapse-arrow">
                <input type="radio" name="materials-accordion" />
                <div class="collapse-title text-2xl font-medium">@Html.Translate("Videos")</div>
                <div class="collapse-content">
                    <div class="overflow-x-auto">
                        <div class="md:hidden w-full">
                            @foreach (var video in Model.Videos)
                            {
                                <div class="border-b border-base-200">
                                    <div class="font-bold mt-1">
                                        @Html.DisplayNameFor(c => c.Videos.First().Title)</div>
                                    <div>@video.Title</div>
                                    <div class="font-bold mt-2">
                                        @Html.DisplayNameFor(c => c.Videos.First().Duration)</div>
                                    <div>@video.Duration</div>
                                    <div class="font-bold mt-2">
                                        @Html.DisplayNameFor(c => c.Videos.First().Quality)</div>
                                    <div class="mb-1 text-wrap">@video.Quality</div>
                                </div>
                            }
                        </div>

                        <table class="hidden md:table md:table-fixed w-full">
                            <thead>
                                <tr>
                                    <th class="w-4/6">@Html.DisplayNameFor(c => c.Videos.First().Title)</th>
                                    <th class="w-1/6">@Html.DisplayNameFor(c => c.Videos.First().Duration)</th>
                                    <th class="w-1/6">@Html.DisplayNameFor(c => c.Videos.First().Quality)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var video in Model.Videos)
                                {
                                    <tr>
                                        <td>@video.Title</td>
                                        <td>@video.Duration</td>
                                        <td>@video.Quality</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }

        @if (@Model.Publications.Count > 0)
        {
            <div class="collapse collapse-arrow">
                <input type="radio" name="materials-accordion" />
                <div class="collapse-title text-2xl font-medium">@Html.Translate("Publications")</div>
                <div class="collapse-content">
                    <div class="overflow-x-auto">
                        <div class="md:hidden w-full">
                            @foreach (var publication in Model.Publications)
                            {
                                <div class="border-b border-base-200">
                                    <div class="font-bold mt-1">
                                        @Html.DisplayNameFor(c => c.Publications.First().Title)</div>
                                    <div>@publication.Title</div>
                                    <div class="font-bold mt-2">
                                        @Html.DisplayNameFor(c => c.Publications.First().Authors)</div>
                                    <div>@publication.Authors</div>
                                    <div class="font-bold mt-2">
                                        @Html.DisplayNameFor(c => c.Publications.First().Pages)</div>
                                    <div>@publication.Pages</div>
                                    <div class="font-bold mt-2">
                                        @Html.DisplayNameFor(c => c.Publications.First().Format)</div>
                                    <div>@publication.Format</div>
                                    <div class="font-bold mt-2">
                                        @Html.DisplayNameFor(c => c.Publications.First().PublicationYear)</div>
                                    <div class="mb-1">@publication.PublicationYear</div>
                                </div>
                            }
                        </div>

                        <table class="hidden md:table md:table-fixed w-full">
                            <thead>
                                <tr>
                                    <th class="w-4/12">@Html.DisplayNameFor(c => c.Publications.First().Title)</th>
                                    <th class="w-4/12">@Html.DisplayNameFor(c => c.Publications.First().Authors)</th>
                                    <th class="w-1/12">@Html.DisplayNameFor(c => c.Publications.First().Pages)</th>
                                    <th class="w-1/12">@Html.DisplayNameFor(c => c.Publications.First().Format)</th>
                                    <th class="w-2/12">@Html.DisplayNameFor(c => c.Publications.First().PublicationYear)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var publication in Model.Publications)
                                {
                                    <tr>
                                        <td>@publication.Title</td>
                                        <td>@publication.Authors</td>
                                        <td>@publication.Pages</td>
                                        <td>@publication.Format</td>
                                        <td>@publication.PublicationYear</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }

        @if (@Model.Articles.Count > 0)
        {
            <div class="collapse collapse-arrow">
                <input type="radio" name="materials-accordion" checked="checked" />
                <div class="collapse-title text-2xl font-medium">@Html.Translate("Articles")</div>
                <div class="collapse-content">
                    <div class="overflow-x-auto">
                        <div class="md:hidden w-full">
                            @foreach (var article in Model.Articles)
                            {
                                <div class="border-b border-base-200">
                                    <div class="font-bold mt-1">
                                        @Html.DisplayNameFor(c => c.Articles.First().Title)</div>
                                    <div>@article.Title</div>
                                    <div class="font-bold mt-2">
                                        @Html.DisplayNameFor(c => c.Articles.First().ResourceLink)</div>
                                    <div>@article.ResourceLink</div>
                                    <div class="font-bold mt-2">
                                        @Html.DisplayNameFor(c => c.Articles.First().PublicationDate)</div>
                                    <div class="mb-1">@article.PublicationDate</div>
                                </div>
                            }
                        </div>

                        <table class="hidden md:table md:table-fixed w-full">
                            <thead>
                                <tr>
                                    <th class="w-2/5">@Html.DisplayNameFor(c => c.Articles.First().Title)</th>
                                    <th class="w-2/5">@Html.DisplayNameFor(c => c.Articles.First().ResourceLink)</th>
                                    <th class="w-1/5">@Html.DisplayNameFor(c => c.Articles.First().PublicationDate)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var article in Model.Articles)
                                {
                                    <tr>
                                        <td>@article.Title</td>
                                        <td class="whitespace-normal break-words">@article.ResourceLink</td>
                                        <td>@article.PublicationDate</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    }
</div>
