@model List<UserSkillViewModel>

<div>
    <div class="flex items-center justify-center">
        <div class="text-3xl ml-2 mb-4 font-medium">@Html.Translate("Skills")</div>
    </div>
    @if (@Model.Count > 0)
    {
        <div class="overflow-x-auto">
            <table class="table table-fixed w-full">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(c => c.First().Name)</th>
                        <th class="text-right">@Html.DisplayNameFor(c => c.First().Level)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var skill in Model)
                    {
                        <tr>
                            <td>@skill.Name</td>
                            <td class="text-right">@skill.Level</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="text-center text-sm">@Html.Translate("NoSkillsAcquired")</div>
    }
</div>
