@model UserProfileViewModel
@{
    ViewData["Title"] = @Html.Translate("Profile");
    ViewBag.CurrentUrl = "~/User/Profile";
}

<div class="flex items-center justify-center min-h-[calc(100vh-98px)]">
    <div class="small-card card-border" data-aos="zoom-in">
        <div class="card-body">
            <div class="flex items-center justify-center">
                <h3 class="font-medium text-3xl ml-2 mb-4">
                    @Html.DisplayFor(c => c.FirstName) @Html.DisplayFor(c => c.LastName)</h3>
            </div>
            <table class="table mb-4">
                <tbody>
                    <tr>
                        <td>@Html.DisplayNameFor(c => c.FirstName)</td>
                        <td class="text-right">@Html.DisplayFor(c => c.FirstName)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(c => c.LastName)</td>
                        <td class="text-right">@Html.DisplayFor(c => c.LastName)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(c => c.Email)</td>
                        <td class="text-right">@Html.DisplayFor(c => c.Email)</td>
                    </tr>
                </tbody>
            </table>

            <div class="flex items-center justify-between mx-2">
                <a class="btn btn-md btn-info w-24" onclick="openModalWithPartialViewContent('skill-list-modal')">
                    @Html.Translate("Skills")
                </a>
                <a class="btn btn-md btn-info w-24" onclick="openModalWithPartialViewContent('material-list-modal')">
                    @Html.Translate("Materials")
                </a>
            </div>

            <dialog id="skill-list-modal" class="modal">
                <div class="modal-box 2xs:w-90 xs:w-112 max-w-none max-h-144">
                    @await Html.PartialAsync("~/Views/User/_AcquiredSkillListPartial.cshtml", Model.UserSkills)
                </div>
                <form method="dialog" class="modal-backdrop">
                    <button>close</button>
                </form>
            </dialog>

            <dialog id="material-list-modal" class="modal">
                <div class="modal-box 2xs:w-90 xs:w-112 sm:w-144 md:w-168 lg:w-226 xl:w-268 max-w-none max-h-144">
                    @await Html.PartialAsync("~/Views/User/_AcquiredMaterialListPartial.cshtml", Model)
                </div>
                <form method="dialog" class="modal-backdrop">
                    <button>close</button>
                </form>
            </dialog>
        </div>
    </div>
</div>

<script>
    async function openModalWithPartialViewContent(modal)
    {
        document.getElementById(modal).showModal();
    }
</script>