@model CourseCreateViewModel
@{
    ViewData["Title"] = @Html.Translate("Create Course");
    ViewBag.CurrentUrl = "~/Course/Create";
}

<div class="flex items-center justify-center min-h-[calc(100vh-11.0rem)]">
    <div class="card card-border bg-base-200 shadow-sm w-120 sm:w-144 md:w-168 lg:w-226 xl:w-268" data-aos="zoom-in">
        <div class="card-body">
            <h3 class="font-medium text-3xl ml-2 mb-4">@Html.Translate("CreateCourse")</h3>
            <form asp-controller="Course" asp-action="Create" method="post" id="create-course-form">
                <div>
                    <label class="floating-label mb-4">
                        <span>@Html.DisplayNameFor(m => m.Name)</span>
                        <input asp-for="Name" placeholder=@Html.DisplayNameFor(m => m.Name)
                            class="input input-md w-full" />
                        <span asp-validation-for="Name" class="text-error text-sm ml-1"></span>
                    </label>
                </div>
                <div>
                    <label class="floating-label mb-4">
                        <span>@Html.DisplayNameFor(m => m.Description)</span>
                        <input asp-for="Description" placeholder=@Html.DisplayNameFor(m => m.Description)
                            class="input input-md w-full" />
                        <span asp-validation-for="Description" class="text-error text-sm ml-1"></span>
                    </label>
                </div>

                @await Html.PartialAsync("~/Views/Course/_RehydrateLoadedPartial.cshtml", Model)

                <div class="flex items-center justify-between mb-4">
                    <h3 class="font-medium text-2xl">@Html.Translate("Skills")</h3>

                    <div>
                        <button type="button" class="btn btn-info btn-sm w-20"
                            onclick="addSkillToViewModel()">@Html.Translate("New")</button>
                        <button type="button" id="open-load-skills-button"
                            class="btn btn-info btn-sm w-20 ml-1">@Html.Translate("Load")</button>
                    </div>
                </div>

                <div id="load-skills-container" class="ml-4">
                    @await Html.PartialAsync("~/Views/Skill/_LoadSkillsPartial.cshtml", Model.LoadedSkills)
                </div>

                <div id="create-skills-container">
                    @await Html.PartialAsync("~/Views/Skill/_CreateSkillsListPartial.cshtml", Model.Skills)
                </div>

                <div class="flex items-center justify-start mb-4">
                    <h3 class="font-medium text-2xl">@Html.Translate("Materials")</h3>
                </div>

                <div class="flex items-center justify-between mb-4">
                    <h3 class="font-medium text-2xl ml-4">@Html.Translate("Videos")</h3>
                    <div>
                        <button type="button" class="btn btn-info btn-sm w-20"
                            onclick="addVideoToViewModel()">@Html.Translate("New")</button>
                        <button type="button" id="open-load-videos-button"
                            class="btn btn-info btn-sm w-20 ml-1">@Html.Translate("Load")</button>
                    </div>
                </div>

                <div id="load-videos-container" class="ml-4">
                    @await Html.PartialAsync("~/Views/Material/_LoadVideosPartial.cshtml", Model.LoadedVideos)
                </div>

                <div id="create-videos-container" class="ml-4">
                    @await Html.PartialAsync("~/Views/Material/_CreateVideosListPartial.cshtml", Model.Videos)
                </div>

                <div class="flex items-center justify-between mb-4">
                    <h3 class="font-medium text-2xl ml-4">@Html.Translate("Publications")</h3>
                    <div>
                        <button type="button" class="btn btn-info btn-sm w-20"
                            onclick="addPublicationToViewModel()">@Html.Translate("New")</button>
                        <button type="button" id="open-load-publications-button"
                            class="btn btn-info btn-sm w-20 ml-1">@Html.Translate("Load")</button>
                    </div>
                </div>

                <div id="load-publications-container" class="ml-4">
                    @await Html.PartialAsync("~/Views/Material/_LoadPublicationsPartial.cshtml",
                    Model.LoadedPublications)
                </div>

                <div id="create-publications-container" class="ml-4">
                    @await Html.PartialAsync("~/Views/Material/_CreatePublicationsListPartial.cshtml",
                                        Model.Publications)
                </div>

                <div class="flex items-center justify-between mb-4">
                    <h3 class="font-medium text-2xl ml-4">@Html.Translate("Articles")</h3>
                    <div>
                        <button type="button" class="btn btn-info btn-sm w-20"
                            onclick="addArticleToViewModel()">@Html.Translate("New")</button>
                        <button type="button" id="open-load-articles-button"
                            class="btn btn-info btn-sm w-20 ml-1">@Html.Translate("Load")</button>
                    </div>
                </div>

                <div id="load-articles-container" class="ml-4">
                    @await Html.PartialAsync("~/Views/Material/_LoadArticlesPartial.cshtml",
                                        Model.LoadedArticles)
                </div>

                <div id="create-articles-container" class="ml-4">
                    @await Html.PartialAsync("~/Views/Material/_CreateArticlesListPartial.cshtml", Model.Articles)
                </div>

                <div asp-validation-summary="All" class="text-error text-sm"></div>
                <partial name="_ControllerErrorsPartial" />

                <div class="flex items-center justify-between mt-4">
                    <a asp-controller="Course" asp-action="List" class="btn btn-md btn-secondary w-20">
                        @Html.Translate("Back")
                    </a>
                    <button type="submit" class="btn btn-md btn-primary w-24">@Html.Translate("Create")</button>
                </div>

            </form>

            @await Html.PartialAsync("~/Views/Skill/_SelectSkillModalPartial.cshtml", Model.ExistingSkills)
            @await Html.PartialAsync("~/Views/Material/_SelectVideoModalPartial.cshtml", Model.PreviouslyCreatedVideos)
            @await Html.PartialAsync("~/Views/Material/_SelectPublicationModalPartial.cshtml",
                        Model.PreviouslyCreatedPublications)
            @await Html.PartialAsync("~/Views/Material/_SelectArticleModalPartial.cshtml",
                        Model.PreviouslyCreatedArticles)
        </div>
    </div>
</div>

@section ValidationScripts {
    <partial name="_ValidationScriptsPartial" />
}

@section CreateCourseHelperScripts {
    <partial name="_CreateCourseHelperScriptsPartial" />
}