@model CourseDetailViewModel
@{
    ViewData["Title"] = "Course Details";
    ViewBag.CurrentUrl = "~/Course/Details";
}

<div class="flex items-center justify-center min-h-[calc(100vh-11.0rem)]">
    <div class="card card-border w-120 sm:w-144 md:w-168 bg-base-200 shadow-sm" data-aos="zoom-in">
        <div class="card-body">
            <div class="flex items-center justify-between">
                <h3 class="font-medium text-3xl ml-2 mb-4">@Html.DisplayFor(c => c.Name)</h3>
                @if (Model.UserCourse is not null)
                {
                    <div class="radial-progress @(Model.UserCourse.IsCompleted ? "text-success" : "text-info")"
                        style="--value:(@Model.UserCourse.ProgressPercentage); --size:3rem;"
                        aria-valuenow="@Model.UserCourse.ProgressPercentage" role="progressbar">
                        @Model.UserCourse.ProgressPercentage%</div>

                }
                else
                {
                    <a asp-controller="User" asp-action="EnrollOnCourse" asp-route-id="@Model.Id"
                        class="btn btn-primary btn-md w-24">Enroll</a>
                }
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>@Html.DisplayNameFor(c => c.Name)</td>
                        <td>@Html.DisplayFor(c => c.Name)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(c => c.Description)</td>
                        <td>@Html.DisplayFor(c => c.Description)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(c => c.CreatedBy)</td>
                        <td>@Html.DisplayFor(c => c.CreatedBy)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(c => c.Skills)</td>
                        <td>@(String.Join(", ", Model.Skills))</td>
                    </tr>
                </tbody>
            </table>
            <div class="flex items-center justify-between mt-4">
                <a asp-controller="Course" asp-action="List" class="btn btn-md btn-secondary w-20">
                    Back
                </a>
                @if (Model.UserCourse is not null || Model.CreatedBy == User.Identity?.Name)
                {
                    <a asp-controller="Course" asp-action="Materials" asp-route-id="@Model.Id"
                        class="btn btn-md btn-info w-24">
                        Materials
                    </a>
                }
            </div>
        </div>
    </div>
</div>