@model ListMaterialViewModel
@{
    ViewData["Title"] = @Model.CourseName + " Materials";
    ViewBag.CurrentUrl = "~/Course/Materials";
}

<div class="flex items-center justify-center min-h-[calc(100vh-11.0rem)]">
    <div class="card card-border bg-base-200 shadow-sm w-120 sm:w-144 md:w-168" data-aos="zoom-in">
        <div class="card-body">
            <div class="flex items-start justify-center">
                <h3 class="font-medium text-3xl ml-2 mb-4">
                    @Model.CourseName - Materials</h3>
            </div>

            @if (@Model.Videos.Count > 0)
            {
                <div class="text-2xl mt-4 mb-4 font-medium">Videos</div>
                <div class="overflow-x-auto">
                    <table class="table">
                        <tbody>
                            @foreach (var video in Model.Videos)
                            {
                                <tr>
                                    <td>
                                        <a class="text-info cursor-pointer"
                                            onclick="openModalWithPartialViewContent('@Url.Action("VideoDetails", "Material", new { id = video.Id })')">
                                            @video.Title
                                        </a>
                                    </td>
                                    <td class="text-right">
                                        @if (video.IsDoneByUser)
                                        {
                                            <button class="btn btn-active btn-success whitespace-nowrap btn-sm w-24">Done</button>
                                        }
                                        else
                                        {
                                            <a asp-controller="User" asp-action="SetCourseMaterialDone"
                                                asp-route-courseId="@Model.CourseId" asp-route-materialId="@video.Id"
                                                class="btn btn-success btn-outline btn-sm whitespace-nowrap w-24">Mark as Done</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

            @if (@Model.Publications.Count > 0)
            {
                <div class="text-2xl mt-4 mb-4 font-medium">Publications</div>
                <div class="overflow-x-auto">
                    <table class="table">
                        <tbody>
                            @foreach (var publication in Model.Publications)
                            {
                                <tr>
                                    <td>
                                        <a class="text-info cursor-pointer"
                                            onclick="openModalWithPartialViewContent('@Url.Action("PublicationDetails", "Material", new { id = publication.Id })')">
                                            @publication.Title
                                        </a>
                                    </td>
                                    <td class="text-right">
                                        @if (publication.IsDoneByUser)
                                        {
                                            <button class="btn btn-active btn-success whitespace-nowrap btn-sm w-24">Done</button>
                                        }
                                        else
                                        {
                                            <a asp-controller="User" asp-action="SetCourseMaterialDone"
                                                asp-route-courseId="@Model.CourseId" asp-route-materialId="@publication.Id"
                                                class="btn btn-success btn-outline btn-sm whitespace-nowrap w-24">Mark as Done</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

            @if (@Model.Articles.Count > 0)
            {
                <div class="text-2xl mt-4 mb-4 font-medium">Articles</div>
                <div class="overflow-x-auto">
                    <table class="table">
                        <tbody>
                            @foreach (var article in Model.Articles)
                            {
                                <tr>
                                    <td>
                                        <a class="text-info cursor-pointer"
                                            onclick="openModalWithPartialViewContent('@Url.Action("ArticleDetails", "Material", new { id = article.Id })')">
                                            @article.Title
                                        </a>
                                    </td>
                                    <td class="text-right">
                                        @if (article.IsDoneByUser)
                                        {
                                            <button class="btn btn-active btn-success whitespace-nowrap btn-sm w-24">Done</button>
                                        }
                                        else
                                        {
                                            <a asp-controller="User" asp-action="SetCourseMaterialDone"
                                                asp-route-courseId="@Model.CourseId" asp-route-materialId="@article.Id"
                                                class="btn btn-success btn-outline btn-sm whitespace-nowrap w-24">Mark as Done</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

            @if (@Model.MaterialsTotal != 0)
            {
                <div class="flex items-center justify-between">

                    <progress class="progress progress-success" value="@Model.MaterialsDone"
                        max="@Model.MaterialsTotal"></progress>
                    <div class="font-medium text-xl ml-2">@Model.MaterialsDone/@Model.MaterialsTotal</div>
                </div>
            }

            <dialog id="material-detail-modal" class="modal">
                <div class="modal-box max-w-120 sm:max-w-144 md:max-w-168">
                    <div id="material-detail-content">
                        <!-- _VideoDetailsPartial view content -->
                        <!-- _PublicationDetailsPartial view content -->
                        <!-- _ArticleDetailsPartial view content -->
                    </div>
                </div>
                <form method="dialog" class="modal-backdrop">
                    <button>close</button>
                </form>
            </dialog>

            <div class="flex items-center justify-start mt-4">
                <a asp-controller="Course" asp-action="Details" asp-route-id="@Model.CourseId"
                    class="btn btn-md btn-secondary w-20">
                    Back
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    async function openModalWithPartialViewContent(url)
    {
        const response = await fetch(url, {
            headers: { "X-Fetch-Request": "true" }
        });
        if (!response.ok) return;

        const html = await response.text();
        document.getElementById("material-detail-content").innerHTML = html;
        document.getElementById("material-detail-modal").showModal();
    }
</script>