@model ErrorViewModel
@{
    ViewData["Title"] = @Html.Translate("Error");
}

<div class="flex items-center justify-center min-h-[calc(100vh-98px)]">
    <div class="medium-card card-border" data-aos="zoom-in">
        <div class="card-body">
            <div class="flex-col text-center">
                <h2 class="text-3xl font-bold text-error mb-4">@Html.Translate("SomethingWentWrongError")</h2>

                <p class="text-lg">@Html.Translate(Model.ErrorMessage)</p>

                @if (User?.Identity?.IsAuthenticated ?? false)
                {
                    <a asp-controller="Course" asp-action="List" class="btn btn-md btn-secondary w-20 mt-4">
                        @Html.Translate("Back")
                    </a>
                }
                else
                {
                    <a asp-controller="Home" asp-action="Index" class="btn btn-md btn-secondary w-20 mt-4">
                        @Html.Translate("Back")
                    </a>
                }
            </div>
        </div>
    </div>
</div>
