@model ArticleViewModel

<div class="flex items-center justify-start ml-2 mb-4">
    <div class="text-2xl mt-4 mb-4 font-medium">@Model.Title</div>
</div>

<table class="table table-fixed w-full">
    <tbody>
        <tr>
            <td>@Html.DisplayNameFor(c => c.Title)</td>
            <td class="text-right">@Html.DisplayFor(c => c.Title)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(a => a.PublicationDate)</td>
            <td class="text-right">@Html.DisplayFor(a => a.PublicationDate)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(a => a.ResourceLink)</td>
            <td class="text-right whitespace-normal break-words">@Html.DisplayFor(a => a.ResourceLink)</td>
        </tr>
    </tbody>
</table>
