@model List<VideoCreateViewModel>

<div>
    @for (int idx = 0; idx < Model.Count; idx++)
    {
        <div>
            <label class="floating-label mb-4">
                <span>@Html.DisplayNameFor(m => m[idx].Title)</span>
                <input asp-for="@Model[idx].Title" id="Videos[@idx].Title" name="Videos[@idx].Title"
                    placeholder=@Html.DisplayNameFor(m => m[idx].Title) class="input input-md w-full" />
                <span asp-validation-for="@Model[idx].Title" data-valmsg-for="Videos[@idx].Title"
                    class="text-error text-sm ml-1"></span>
            </label>
        </div>
        <div class="flex items-center gap-2 mb-4">
            <label class="floating-label flex-1">
                <span>@Html.DisplayNameFor(m => m[idx].Duration)</span>
                <input asp-for="@Model[idx].Duration" id="Videos[@idx].Duration" name="Videos[@idx].Duration"
                    placeholder=@Html.DisplayNameFor(m => m[idx].Duration) class="input input-md w-full" type="number"
                    min="0" />
                <span asp-validation-for="@Model[idx].Duration" data-valmsg-for="Videos[@idx].Duration"
                    class="text-error text-sm ml-1"></span>
            </label>
            <label class="floating-label flex-1">
                <span>@Html.DisplayNameFor(m => m[idx].Quality)</span>
                <input asp-for="@Model[idx].Quality" id="Videos[@idx].Quality" name="Videos[@idx].Quality"
                    placeholder=@Html.DisplayNameFor(m => m[idx].Quality) class="input input-md w-full" />
                <span asp-validation-for="@Model[idx].Quality" data-valmsg-for="Videos[@idx].Quality"
                    class="text-error text-sm ml-1"></span>
            </label>

        </div>
        <div class="flex justify-center mb-4">
            <button type="button" class="btn btn-error btn-sm w-20" onclick="removeVideoFromViewModel(@idx)">Delete</button>
        </div>
    }
</div>
