@model CourseCreateViewModel

<div>
    @for (int idx = 0; idx < Model.Publications.Count; idx++)
    {
        <div>
            <label class="floating-label mb-4">
                <span>Title</span>
                <input asp-for="@Model.Publications[idx].Title" name="Publications[@idx].Title" class="input input-md w-full" />
                <span asp-validation-for="@Model.Publications[idx].Title" class="text-error text-sm ml-1"></span>
            </label>
        </div>
        <div>
            <label class="floating-label mb-4">
                <span>Authors</span>
                <input asp-for="@Model.Publications[idx].Authors" name="Publications[@idx].Authors" class="input input-md w-full" />
                <span asp-validation-for="@Model.Publications[idx].Authors" class="text-error text-sm ml-1"></span>
            </label>
        </div>
        <div class="flex items-center gap-2 mb-4">
            <label class="floating-label flex-1">
                <span>Pages</span>
                <input asp-for="@Model.Publications[idx].Pages" name="Publications[@idx].Pages" class="input input-md w-full" />
                <span asp-validation-for="@Model.Publications[idx].Pages" class="text-error text-sm ml-1"></span>
            </label>
            <label class="floating-label flex-1">
                <span>Format</span>
                <input asp-for="@Model.Publications[idx].Format" name="Publications[@idx].Format" class="input input-md w-full" />
                <span asp-validation-for="@Model.Publications[idx].Format" class="text-error text-sm ml-1"></span>
            </label>
            <label class="floating-label flex-1">
                <span>PublicationYear</span>
                <input asp-for="@Model.Publications[idx].PublicationYear" name="Publications[@idx].PublicationYear"
                    class="input input-md w-full" />
                <span asp-validation-for="@Model.Publications[idx].PublicationYear" class="text-error text-sm ml-1"></span>
            </label>
            
        </div>
        <div class="flex justify-center mb-4">
            <button type="button" class="btn btn-error btn-sm w-20"
                onclick="removePublicationFromViewModel(@idx)">Delete</button>
        </div>
    }
</div>
