@model List<PublicationViewModel>

<div class="mb-4">
    @for (int idx = 0; idx < Model.Count; idx++)
    {
        <a onclick="unloadPublicationFromViewModel(@idx)" class="text-info cursor-pointer">@(idx < Model.Count - 1?
                    Model[idx].Title + "," : Model[idx].Title)</a>
        }
</div>

@for (int idx = 0; idx < Model.Count; idx++)
{
    <input type="hidden" name="LoadedPublications[@idx].Id" value="@Model[idx].Id" />
    <input type="hidden" name="LoadedPublications[@idx].Title" value="@Model[idx].Title" />
    <input type="hidden" name="LoadedPublications[@idx].Authors" value="@Model[idx].Authors" />
    <input type="hidden" name="LoadedPublications[@idx].Pages" value="@Model[idx].Pages" />
    <input type="hidden" name="LoadedPublications[@idx].Format" value="@Model[idx].Format" />
    <input type="hidden" name="LoadedPublications[@idx].PublicationYear" value="@Model[idx].PublicationYear" />
}