@model VideoViewModel

<div class="flex items-center justify-start ml-2 mb-4">
    <div class="text-2xl mt-4 mb-4 font-medium">@Model.Title</div>
</div>

<table class="table table-fixed w-full">
    <tbody>
        <tr>
            <td>@Html.DisplayNameFor(v => v.Title)</td>
            <td>@Html.DisplayFor(v => v.Title)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(v => v.Duration)</td>
            <td>@Html.DisplayFor(v => v.Duration)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(v => v.Quality)</td>
            <td>@Html.DisplayFor(v => v.Quality)</td>
        </tr>
    </tbody>
</table>
