@model VideoViewModel

<table class="table table-fixed w-full">
    <tbody>
        <tr>
            <td>@Html.DisplayNameFor(v => v.Title)</td>
            <td>@Html.DisplayFor(v => v.Title)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(v => v.Duration)</td>
            <td>@Html.DisplayFor(v => v.Duration)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(v => v.Quality)</td>
            <td>@Html.DisplayFor(v => v.Quality)</td>
        </tr>
    </tbody>
</table>
